
$navbar-link-color: #b16d1b;
$white-color: rgba(255, 255, 255, 0.894);
$black-color: rgb(0 0 0 / 76%);
$body_background: #faf6f2;
$brown_text_color: #987850;
$btn_background_color: #987850;
$blue_text_color: #134054;
$border_color_gray: #8080806e;

.header-title {
    color: $white-color;
    position: absolute;
    top: 239px;
    left: 84px;
    max-width: 800px;

    .custom-btn {
        display: none;

        &.home-header-btn {
            display: block;
            color: $black-color;
            background-color: $white-color;
            padding: 20px 30px;
            border: 0;
            border-radius: 2px;
            transition: 0.3s;

            &:hover {
                background-color: rgb(152, 149, 149);
            }
        }
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}